<p class="paragraph-22"> Examples:</p>

<H2>Paragraphs</H2>
<p class="paragraph-10">paragraph-10</p>
<p class="paragraph-11">paragraph-11</p>
<p class="paragraph-12">paragraph-12</p>
<p class="paragraph-14">paragraph-14</p>
<p class="paragraph-15">paragraph-15</p>
<p class="paragraph-16">paragraph-16</p>
<p class="paragraph-18">paragraph-18</p>
<p class="paragraph-20">paragraph-20</p>
<p class="paragraph-22" [tooltip]="'Tooltip Text'">paragraph-22</p>
<hr>
<H2>Buttons</H2>
<button class="primary" [routerLink]="['/']">Go to landing page</button>
<button class="secondary">secondary</button>
<button class="background-secondary">background-secondary</button>
<button class="primary btn-loading">primary with loading</button>
<button class="primary next">primary next</button>
